* {
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 1100px;
    background-color: #CFCFCF;
    overflow-x: hidden;
}

h1 {
    font-size: 45px;
    color: #1C1C1C;
    text-align: center;
    font-family: 'Lobster', cursive;
}

#abs {
    font-family: 'Lobster', cursive;
    vertical-align: middle;
}

h2 {
    font-size: 30px;
    color: #363636;
    text-align: center;
}

#style {
    font-family: 'Lobster', cursive;
}

h3 {
    font-size: 20px;
    color: #363636;
    font-family: 'Lobster', cursive;
    text-align: center;
}

#lyst {
    font-size: 20px;
    color: #8B636C;
    text-align: center;
}

#merezhi {
    text-align: right;
    background-image: url(../images/fon5.jpg);
}

#box {
    display: -webkit-inline-flex;
    display: inline-flex;
    justify-content: center;
}
#box1 {
    border: 1px solid #363636;
}

.flexi {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
}

.flexi1 {
    display: inline-flex;
    text-align: center;
    margin-left: 8%;
}

.flexi2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.imag {
    border: 2px solid #363636;
    border-radius: 8px;
    }

.art {
    display: inline-flex;
    text-align: justify;
    justify-content: center;
    padding: 30px;
}

.navbar1 {
    margin: 0;
    padding: 0;
    width: 1100px;
    list-style-type: none;
}

.navbar1 a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Lobster', Verdana, sans-serif;
    color: #E8E8E8;
}

.navbar1 li {
    float: left;
    font-family: 'Lobster', Verdana, sans-serif;
    width: 33%;
    text-align: center;
    font-size: 22px;
}

.navbar2 {
    margin: 0;
    padding: 0;
    width: 1100px;
    list-style-type: none;
}

.navbar2 a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Lobster', Verdana, sans-serif;
    color: #E8E8E8;
}

.navbar2 li {
    float: left;
    font-family: 'Lobster', Verdana, sans-serif;
    width: 50%;
    text-align: center;
    font-size: 22px;
}

.fix {
    text-align: center;
    background-color: #1C1C1C;
    width: 100%;
    height: 40px;
}

.vert {
    display: block;
}

.small {
    border: 1px solid #828282;
}

#map {
    width: 200px;
    border: 2px solid #828282;
}

#place {
    font-size: 15px;
    color: #363636;
}

.emblema {
    display: block;
    width: 2000px;
}

.foto {
    padding: 30px;
    float: left;
    text-align: left;
    display: inline-block;
}

.discr {
    display: inline-block;
}

.foto1 {
    display: inline-block;
    padding: 30px;
    margin: auto;
    text-align: right;
}

.foto2 {
    float: left;
    padding: 30px;
    margin: auto;
    text-align: center;
}

.foto4 {
    float: left;
    border: 2px solid #363636;
    border-radius: 8px;
    width: 318px;
    height: 159px;
    margin-right: 20px;
}

.fotos {
    border: 2px solid #363636;
    border-radius: 8px;
}

.abzac {
    text-align: justify;
}

.tab {
    font-size: 20px;
    text-align: left;
    text-decoration: underline;
}

#povidoml {
    text-decoration: none;
    color: #363636;
}

.cent {
    text-align: center;
}

a:hover {
    color: #EE7600;
}

.flexi:hover {
    color: #00688B;
}

#povidoml:hover {
    color: #EE7600;
}

.imag:hover {
    border: 2px solid #EE7600;
}

.fotos:hover {
    border: 2px solid #EE7600;
}

.foto4:hover {
    border: 2px solid #EE7600;
}

#form {
    width: 40%;
    font-size: 18px;
}

#client-name {
    margin-left: 10px;
}

#client-email {
    margin-left: 10px;
}

#client-phonenumber {
    margin-left: 10px;
}

@media screen and (max-width:599px) {
    #box {
        display: block;
    }
    .emblema {
        width: 100vw;
        text-align: center;
    }
    #emb {
        width: 100vw;
    }
    .imag {
        width: 98vw;
    }
    .flexi {
        width: 100vw;
    }
    .flexi1 {
        width: 100vw;
        margin: auto;
    }
    .flexi2 {
        width: 100vw;
        margin: auto;
    }
    .art {
        padding: 20px;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        text-align: center;
    }
    .var {
        margin-left: 20px;
    }
    .navbar1 {
        width: 100vw;
    }
    .navbar2 {
        width: 100vw;
    }
    #gal {
        display: block;
        margin: auto;
        padding-left: 0px;
        text-align: center;
    }
    .foto {
        display: block;
        width: 100vw;
        border: none;
    }
    .foto1 {
        display: block;
        width: 100vw;
        border: none;
    }
    .fotos {
        width: 100%;
        float: none;
        display: block;
    }
    .foto4 {
        width: 100vw;
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .foto2 {
        width: 100vw;
    }
    .fix {
        width: 100vw;
        height: 70px;
    }
    .ab {
        text-align: center;
    }
}
