* {
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 1100px;
    background-color: #CFCFCF;
}

h1 {
    font-size: 65px;
    color: #1C1C1C;
    text-align: center;
}

#abs {
    font-family: 'Lobster', cursive;
}

h2 {
    font-size: 30px;
    color: #4F4F4F;
    text-align: center;
}

h3 {
    font-size: 20px;
    color: #8B636C;
    text-align: center;
}

#lyst {
    font-size: 20px;
    color: #8B636C;
    text-align: center;
}

#merezhi {
    text-align: right;
}

#box {
    display: -webkit-inline-flex;
    display: inline-flex;
    justify-content: center;
}

.flexi {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
}

.flexi1 {
    display: inline-flex;
    text-align: center;
    margin-left: 8%;
}

.flexi2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.imag {
     height: 130px;
    border: 2px solid #828282;
}

.art {
    display: inline-flex;
    text-align: justify;
    justify-content: center;
    padding: 30px;
}

.navbar1 {
    margin: 0;
    padding: 0;
    width: 1100px;
    height: 45px;
    list-style-type: none;
    border: 1px solid #696969;
    background-color: #9C9C9C;
}

.navbar1 a {
    display: inline-block;
    text-decoration: none;
    color: #363636;
}

.navbar1 li {
    float: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    color: #363636;
}

.cent1 {
    text-align: left;
    width: 50%;
}
#menu1 {
    text-align: right;
    width: 50%;
    position: relative;
    }
.cent {
    text-align: right;
    width: 50%;
    position: relative;
    }

.fix {
    text-align: center;
}

#menu_1 {
    display: none;
    list-style-type: none;
    font-size: 15px;
    position: absolute;
    top: 40%;
    left: 38%;
}

.menu {
    font-size: 15px !important;
    border: 1px solid #696969;
    background-color: #9C9C9C;
}

.vert {
    display: block;
}

.rel {
    position: relative;
}

.small {
    border: 1px solid #828282;
}

#map {
    width: 200px;
    border: 2px solid #828282;
}

#place {
    font-size: 15px;
    color: #363636;
}

.emblema {
    display: inline-block;
}

.var {
    display: inline-block;
    margin-left: 100px;
}

@media screen and (max-width:599px) {
    #box {
        display: block;
    }
    .emblema {
        width: 100vw;
        text-align: center;
    }
    .imag {
        width: 100vw;
    }
    .flexi {
        width: 100vw;
    }
    .flexi1 {
        width: 100vw;
        margin: auto;
    }
    .flexi2 {
        width: 100vw;
        margin: auto;
    }
    .art {
        padding: 20px;
    }
    h1 {
        font-size: 35px;
    }
    .var {
        margin-left: 20px;
    }
    .navbar1 {
        width: 100vw;
            }
    #gal {
        display: block;
        margin: auto;
        padding-left: 0px;
        text-align: center;
    }
    .foto {
        display: block;
        width: 100vw;
        border: none;
        padding-left: 0px;
                         }
    .foto1 {
        display: block;
        width: 100vw;
        border: none;
            }
    .fotos {
        width: 100vw;
        float: none;
        display: block;
    }
    .foto4 {
      width: 100vw;
        float: none;
            }
}

.foto {
    padding: 30px;
    margin: auto;
    float: left;
    text-align: left;
}

.discr {
    display: inline-block;
}

.foto1 {
     display: inline-block;
    padding: 30px;
    margin: auto;
    text-align: right;
}
.foto2 {
    float: left;
    padding: 30px;
    margin: auto;
    text-align: center;
  }
.foto4 {
    float: left;
     margin-right:  20px;
}

.abzac {
    text-align: justify;
   }

.tab {
    font-size: 20px;
    text-align: left;
    text-decoration: underline;
}

#povidoml {
    text-decoration: none;
    color: #363636;
}

#form {
    width: 40%;
    font-size: 18px;
}

#client-name {
    margin-left: 26%;
}

#client-email {
    margin-left: 23%;
}

#client-phonenumber {
    margin-left: 5%;
}
